.hero-button {
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 200px;
    border: 0ch;
    font-family:inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    align-items: center;
    letter-spacing: 0.06em;
    color: var(--hero-text-color);
    background: var(--accent-color-page);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
    background: #188CE8;
}