.telegram-btn{
    padding: 0;
    min-width: 200px;
    border-radius: 4px;
    border: 0ch;

    background-color: var(--accent-color-page);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
     transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.telegram-btn:focus,
.telegram-btn:hover{
    background-color: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.send-link{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;

    text-decoration: none;
    margin: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--hero-text-color);
}

.icon-send{
    margin-left: 10px;
    width: 24px;
    height: 24px;

    fill: var(--hero-text-color);
}