.header__container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $header-border-color;
}

.header-nav__list {
  display: flex;
  margin-left: 93px;
}

.header-nav__item + .header-nav__item,
.header-contact__item + .header-contact__item {
  margin-left: 50px;
}

.header-nav__link,
.header-contact__link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color $transition-animation;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.header-nav__link {
  position: relative;
  color: $basic-text-color;

  &.current {
    color: $accent-color;

    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 4px;
      bottom: -1px;
      border-radius: 2px;
      background-color: $accent-color;
    }
  }
}

.header-contact {
  display: flex;
  margin-left: auto;
}

.header-contact__link {
  color: $text-color;
}

.header-contact__icon {
  margin-right: 10px;
  fill: $text-color;
  align-self: center;
  transition: fill $transition-animation;
}

.header-contact__link:hover .header-contact__icon {
  fill: $accent-color;
}