.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden{
    opacity: 0;
    pointer-events: none;
}

.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 528px;
    min-height: 581px;
    padding: 40px;

    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-closed{
    position: absolute;
    display: inline-flex;
    align-items: center;
    top: 8px;
    right: 8px;

    width: 30px;
    height: 30px;
    padding: 6px;

    cursor: pointer;
    background-color: var(--background-color-page);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

.close-icon{
    fill: currentColor;
    width: 18px;
    height: 18px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-closed:hover .close-icon{
    fill: var(--accent-color-page);
}
    


.modal-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: var(--title-text-color);
}

.modal-form{
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    color: var(--primary-text-color);
}

.modal-label {
    cursor: pointer;
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--primary-text-color);
}

.modal-input {
    display: inline-block;
    position: relative;
    color: var(--primary-text-color);
    margin-top: 4px;
}

.input-field {
    width: 100%;
    height: 40px;
    padding: 12px 42px;
    border-radius: 4px;
    outline: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-field:focus{
    border-color: var(--accent-color-page);    
}

.input-icon {
    position: absolute;
    top: 11px;
    left: 12px;
    width: 18px;    
    height: 18px;
    fill: var(--primary-text-color);
    transition-property: fill;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-field:focus ~ .input-icon{
    fill: #2196F3;
}

.comment-area {
    width: 100%;
    padding: 12px 16px;
    outline: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    margin-top: 4px;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-area:focus{
    border-color:var(--accent-color-page);
}

.modal-label:first-child{
    margin-top: 0;
}

.checkbox{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
}
.label-checkbox{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    cursor: pointer;
    letter-spacing: 0.01em;
    color: var(--primary-text-color);

}

.checkbox-icon{
    display: inline-block;
    width: 16px;
    height: 15px;
    margin-right: 7px;
    border:2px solid #212121;
    border-radius: 2px;
}

.checkbox:checked + .checkbox-icon{
    background-color: var(--accent-color-page);
    background-image: url(../img/icon-check.svg);
    background-size: contain;
    background-origin: border-box;
    border-color: transparent;
}

.checkbox:focus + .checkbox-icon {
    border-color: var(--accent-color-page); 
}

.checkbox-link{
    padding-left: 4px;
    text-decoration-line: underline;
    color: var(--accent-color-page);
    text-align: right;
}

.checkbox-link:focus,
.checkbox-link:hover{
    text-decoration: none;
}

.form-button{
    align-self: center;
    margin-top: 30px;
    min-width: 200px;
    padding: 10px 56px;
    border: 0ch;
    cursor: pointer;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--hero-text-color);
    background-color: var(--accent-color-page);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:hover,
.form-button:focus{
    background-color: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

