:root {
    --background-color-page: #ffffff;
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color-page: #2196F3;
    --hero-text-color: #FFFFFF;
    --logo-page-color: #2196F3;
    --logo-accent-header-color: #212121;
    --logo-accent-footer-color: #ffffff;
    --studio-section-team-color: #F5F4FA;
    --main-portfolio-btn: #F5F4FA;
    --contact-footer: rgba(255, 255, 255, 0.6);
    --main-hero-backgroud-color: #2F303A;
}