.footer .logo {
    margin-bottom: 20px;
}

.addres-list {
    line-height: 1.71;
}

.address {
    font-style: inherit;
}

.addres-list li:not(:last-child) {
    margin-bottom: 9px;
}

.address__map {
    color: var(--hero-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link {
    margin-top: 9px;
    color: var(--contact-footer);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
    background: var(--main-hero-backgroud-color);
}

.container-address {
    padding-top: 60px;
    padding-bottom: 60px;
    margin-right: 70px;
}

.join{
    margin-right: 93px;
    padding-top: 72px;
    padding-bottom: 97px;
}

.join-title {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--background-color-page);
}

.footer-container {
  display: flex;
  align-items: baseline;
  justify-content:space-between;
}

.social {
    padding:0;
    display: flex;
    list-style: none;
}

.social-item:not(:last-child) {
    margin-right: 10px;
}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.social-link:focus,
.social-link:hover {
    background-color: var(--accent-color-page);
}

.social-icon {
    width: 20px;
    height: 20px;
    fill: var(--hero-text-color);
}

/*Подпишитесь на рассылку*/

.send{
    padding-top: 72px;
    padding-bottom: 94px;
}

.send h2{

    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1,14;
    text-transform: uppercase;
    color: var(--hero-text-color);
}

.input-send{
    min-width: 358px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
    padding-right: 0;
    margin-right: 10px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    font-size: 16px;
    line-height: 1.25;
    background-color: Transparent;
    color:rgba(255, 255, 255, 0.6);
}

