.team {
    background-color: var(--studio-section-team-color);
}

.promo-title {
    margin-top: 0;
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--title-text-color);
}

.team__list {
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--title-text-color);
}

.team__list img {
    display: block;
    max-width: 100%;
}

.team__item{
    width:calc((100% - 90px) / 4);
    background-color: #ffffff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__item:not(:last-child) {
    margin-right: 30px;
}

.container-data {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team__name {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
}

.team__post {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--primary-text-color);
}

.groups__social {
    padding: 0;
    display: flex;
    margin-top: 16px;
    margin-left: 32px;
    margin-right: 32px;
    list-style: none;
}

.groups__item:not(:last-child) {
    margin-right: 10px;
}

.groups__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: var(--background-color-page);
    border-radius: 50%;
    
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    text-decoration: none;
}

.groups__link:focus,
.groups__link:hover{
    background-color: var(--accent-color-page);
}

.groups__icon{
    width: 20px;
    height: 20px;
    fill: #afb1b8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.groups__social .groups__link:focus .groups__icon,
.groups__social .groups__link:hover .groups__icon{
    fill: var(--background-color-page);
}
